# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/hello_again/hello_again/target/
/programming_exercises_8_22_17/Excercise01/excercise01/target/
/programming_exercises_8_22_17/AllAboutMe/AllAboutMe/target/
#target/
#hello_again/
#git rm -r cached .
