

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color:#000000;
    height: 1px;
}
.container .row {
    padding-left: 0px  !important;
    padding-right: 0px !important;
}
.container .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}
