<!--<!DOCTYPE HTML>-->
<!--<html lang="en"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->
<!--<head lang="en">-->

    <!--<title>Perficient LDAP Server Testing</title>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->

    <!--<link href="../static/css/bootstrap.css"-->
          <!--th:href="@{css/bootstrap.min.css}"-->
          <!--rel="stylesheet" media="screen"/>-->

    <!--<link href="../static/css/main.css"-->
          <!--th:href="@{css/main.css}" rel="stylesheet" media="screen"/>-->


<!--</head>-->
<!--<body>-->
<!--<div class="container">-->

    <!--<br/>-->

    <!--<div class="row text-center">-->
        <!--<hr/>-->
        <!--<div class="col-sm-6 text-left">-->
            <!--<h3>Perficient<br/>LDAP Test Server</h3>-->
        <!--</div>-->
        <!--<div class="col-sm-6 text-right">-->
            <!--<table class="servertable">-->
                <!--<tr>-->
                    <!--<td class="label">Root DN</td><td th:text="${serverData.baseDn}"></td>-->
                    <!--<td class="label">Admin User</td><td th:text="${serverData.adminName}"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="label">Server Port</td><td th:text="${serverData.serverPort}"></td>-->
                    <!--<td class="label">Admin Pass</td><td th:text="${serverData.adminPass}"></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td class="label">LDAP Port</td><td th:text="${serverData.ldapPort}"></td><td class="label">Configuration</td>-->
                    <!--<td> Users <span th:text="${serverData.userConfigVersion}"></span></td>-->
                <!--</tr>-->
            <!--</table>-->

        <!--</div>-->
        <!--<hr/>-->
    <!--</div>-->

    <!--<br/>-->

    <!--<div class="row text-center">-->
        <!--<div class="col-sm-12">-->

            <!--<table class="usertable">-->
                <!--<thead>-->
                <!--<th>Name</th>-->
                <!--<th>User ID/Email</th>-->
                <!--<th>Phone</th>-->
                <!--<th>Country</th>-->
                <!--<th>Description</th>-->
                <!--</thead>-->

                <!--<tr th:each="person : ${userlist}">-->
                    <!--<td th:text="${person.commonName}"></td>-->
                    <!--<td th:text="${person.email}"></td>-->
                    <!--<td th:text="${person.phone}"></td>-->
                    <!--<td th:text="${person.country}"></td>-->
                    <!--<td th:text="${person.description}"></td>-->
                <!--</tr>-->

            <!--</table>-->
            <!--<br/>-->

        <!--</div>-->

    <!--</div>-->

<!--</div>-->


<!--<script src="../static/js/general/jquery-3.2.1.min.js"-->
        <!--th:src="@{/js/general/jquery-3.2.1.min.js}"></script>-->
<!--</body>-->
<!--</html>-->