<!DOCTYPE HTML>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<head>
    <meta charset="UTF-8">
    <title>Huetron 3000</title>
    <link rel="shortcut icon" type="image/x-icon" href="../static/ico/favicon.ico" th:src="@{/ico/favicon.ico}">
    <link rel="icon" type="image/x-icon" href="../static/ico/favicon.ico" th:src="@{/ico/favicon.ico}"}>
    <link rel="stylesheet" media="screen" type="text/css" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" media="screen" type="text/css" href="../static/css/colorpicker.css" th:href="@{/css/colorpicker.css}"/>
    <link rel="stylesheet" media="screen" type="text/css" href="../static/css/jquery-ui.min.css" th:href="@{/css/jquery-ui.min.css}" />
    <link rel="stylesheet" media="screen" type="text/css" href="../static/css/page.css" th:href="@{/css/page.css}" >
</head>

<body>
<div id="page" class="container text-center">

    <div class="row text-center">
        <div class="col-sm-12 text-center">
            <hr/>
            <h1> Huetron 3000 </h1>
            <hr/>
        </div>
    </div>

    <div class="row text-left">
        <input type="hidden" id="lightState"/>
        <div class="col-sm-6 text-left">
            <table>
                <tr>
                    <td><div class="c-slider" id="hue-slider"></div></td>
                    <td>&nbsp&nbsp<input class="hsb-box" id="hue" />&nbsp&nbspHue</td>
                </tr>
                <tr>
                    <td><div class="c-slider" id="bright-slider"></div></td>
                    <td>&nbsp&nbsp<input class="hsb-box" id="bright" />&nbsp&nbspBrightness</td>
                </tr>
                <tr>
                    <td><div class="c-slider" id="sat-slider"></div></td>
                    <td>&nbsp&nbsp<input class="hsb-box" id="sat" />&nbsp&nbspSaturation</td>
                </tr>
            </table><br/>
            <button id="send-hue">Send</button>
            <button id="power-button">Power</button>
        </div>
        <div class="col-sm-6 text-right"><div id="picker-div"></div></div>
    </div>
    <br/>
    <div class="row text-left">
        <div class="col-sm-12">
            <div class="groupsdiv">
                <table id="light-table" class="light-table">
                    <tr>
                        <th>Light ID</th><th>On</th><th>Hex Value</th>
                        <th>Color</th><th>Title</th><th>Description</th>
                    </tr>
                </table><br/>
                <button id="send-hue-multi">Send All</button>
            </div>
        </div>
    </div>

</div>

</body>
<script src="../static/js/general/jquery-3.2.1.min.js" th:src="@{/js/general/jquery-3.2.1.min.js}"></script>
<script src="../static/js/general/popper.js" th:src="@{/js/general/popper.js}"></script>
<script src="../static/js/general/tether.js" th:src="@{/js/general/tether.js}"></script>
<script src="../static/js/general/moment.min.js" th:src="@{/js/general/moment.min.js}"></script>
<script src="../static/js/general/bootstrap.min.js" th:src="@{/js/general/bootstrap.min.js}"></script>
<script src="../static/js/general/colorpicker.js" th:src="@{/js/general/colorpicker.js}"></script>
<script src="../static/js/general/jquery-ui.min.js" th:src="@{/js/general/jquery-ui.min.js}"></script>
<script src="../static/js/general/jquery.mask.min.js" th:src="@{/js/general/jquery.mask.min.js}"></script>
<script src="../static/js/tinycolor-min.js" th:src="@{/js/tinycolor-min.js}"></script>
<script src="../static/js/commander.js" th:src="@{/js/commander.js}"></script>




</html>