
hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #000000;
    height: 1px;
}
.container {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.container .row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

/*button {display: inline}*/



.item-container{padding:3%;}
.item {width:70%; border:2px solid black; cursor:pointer; margin:auto; text-wrap: normal; word-break: normal}

.vtshrink {margin-top: -20px;}
.vbshrink {margin-bottom: -20px;}

.itemNumber {display: none}
.itemDisplayNumber {text-align: left; padding-left:5px;
    border-bottom: solid 2px black; background-color: #32383e; color: white}
.itemName {}
.itemPrice {}
.itemQuantity {}

.tDiv {display: inline-block; margin:auto; padding: 0px}


#tubeLeft, #tubeRight {height:70px; padding: 0px; -webkit-filter: drop-shadow(0px 0px 8px #222);
    filter: drop-shadow(0px 0px 8px #222);}

#tubeLeft {text-align:right; margin-right: -40px}
#tubeRight {text-align:left; margin-left: -40px}

#purchaseButton, #changeButton, .moneyButton {display: inline; margin:auto; overflow: hidden; font-size:12px;
    -webkit-filter: drop-shadow(0px 0px 8px #666);
    filter: drop-shadow(0px 0px 8px #666);

}
.moneyButton, #changeButton {margin-top:10px}
.moneyButton{width: 45%;}
#changeButton, #purchaseButton {width: 80%;}

#pageTitle {font-family: "Arial Black"}
.title { width:100%; padding-top: 7px; font-family: Forte; color: white}
.itemTitle {font-family: Forte; color: white}
#overallContainer {width: 100%}
#contentArea {width:90%; margin:auto}
#itemAreaMainDiv {padding: 10px;}

#itemDisplay, #totalMoney, #messages, #changeDisplay
{ background-color: lightgreen;
    display:inline;
    margin:auto;
    border: 2px solid black;
    text-align: center;
    -ms-overflow-style: none;
    box-shadow: 0px 0px 10px 0px rgba(76,255,183,.5);
}

#totalMoney{width:80%;  font-weight: bold;}
#controlPanelMainDiv{border-left:  1px solid black}

#contentArea {border: 2px solid black; box-shadow: 0px 0px 20px 0px #000}

#controlPanelMainDiv {background-color: #cfd2d6}
/*!*#itemAreaMainDiv {background-color: #6c757d}*!*/

#controlPanelMainDiv {background-image: url("../images/panel.png");
    background-size: 105% 105%; background-position: center; border: 4px solid black}
#itemAreaMainDiv {background-image: url("../images/screen2.jpg"); background-size: 102% 103%; background-position: center}
.item {background-color: white}

#messages, #changeDisplay {resize: none; font-size: 12px; width:80%;
    margin-top: 5px; height: 45px; overflow: hidden; padding:3px}
#itemDisplay {font-size: 12px; width:30%; overflow: hidden; margin-left: 10%; margin-top:10px;}



::-webkit-input-placeholder { /* Chrome */
    color: black;
}
:-ms-input-placeholder { /* IE 10+ */
    color: black;
}
::-moz-placeholder { /* Firefox 19+ */
    color: black;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: black;
    opacity: 1;
}