
form, button{display: inline}


select, input, button {
    font-size: 14px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    vertical-align: middle;
    height: 23px;
    padding: 2px;
    border-radius: 3px;
    outline: none;
    border: 1px solid black;
    text-decoration: none;
}

textarea{
    width: 250px;
    height: 100px;
    resize: vertical;
    font-size: 14px;
    padding: 2px;
    border-radius: 3px;
    outline: none;
    border: 1px solid black;
    text-decoration: none;}

input, select, textarea {width: 90%}


textarea:focus,
textarea:active,
select:focus,
select:active,
input:focus,
input:active {
    border: 1px solid #2ecc7d;
    box-shadow: 0px 0px 5px #00ffb8
}

button {
    border: none;
    border-radius: 5px;
    background-color: #2ecc7d;
    color: white;
    padding: 2px 8px;
    cursor: pointer;
}

#report-button{background-color: #2e40af
}

.current-tab {color: white; box-shadow: 0px 0px 5px #00ffb8;}

button:active {background-color: #246d24;}
button:hover {-webkit-filter: drop-shadow(0px 0px 5px #00ffb8);
    filter:drop-shadow(0px 0px 5px #00ffb8)}
button:active,
button:hover,
button:focus {outline: none;}

.form-field{margin-bottom: 15px}
.form-label{font-style: italic}


#searchterms, #searchdate {
    width: 20%;
    padding-left: 30px;
    background-image: url("../images/search.png");
    background-size: contain;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

.btn-circle:hover {box-shadow: 0px 0px 0px #d9534f;-webkit-filter: drop-shadow(0px 0px 5px #d9534f);
    filter:drop-shadow(0px 0px 5px #d9534f)}
.btn-circle {
    /*background-color: #d9534f;*/
    background-image: url("../images/xicon.png");
    background-size: contain;
    width: 9px;
    height: 9px;
    text-align: center;
    padding: 0px 0;
    font-size: 8px;
    line-height: 1.428571429;
    border-radius: 15px;
}

#emailbutton{
    vertical-align: top;
}