

a, a:visited {color: black}
a:hover, a.active {color:green; text-decoration: none}
.navsep {width: 20px; margin: 0px;}

.current-tab {color: green;
    -webkit-filter: drop-shadow(0px 0px 5px #090);
    filter:drop-shadow(0px 0px 5px #090)
}

.mainnavbar{text-align: left; border:1px solid black; padding:10px; background-color: #f7f7f7}
.shnav{padding-left: 10px; padding-right: 10px;}
.pageTitle, a {font-family: "Lucida Console"}

#resultstable {border-radius: 5px; border: 2px solid black; border-collapse: separate; border-spacing: 0; width: 100%}
tbody, thead {border: 1px solid black; text-align: left}
.header-th-id, th {background-color: white; border-bottom: 2px solid black;}
tr {border-right: 1px solid black}
th {text-align: left;}
.header-th-id, .id-col {text-align: right; width:25px; padding-right: 10px; padding-left: 10px}
tr:nth-child(odd) {background: #eaf6ea}
tr:nth-child(even) {background: white;}
tr:hover{background: rgba(0, 210, 131, 0.53); }
td {padding-right: 10px}

.border-right{border-right: solid 1px rgba(211, 211, 211, 0.43)
}

#page {width: 80%; margin-right: auto; margin-left: auto; display: block; clear: both; text-align: center}
#resultsdiv {width: 100%; margin-right: auto; margin-left: auto}


.spacer{width:20px; display: inline-block}
.spacer-sm{width:10px; display: inline-block}




