

a, a:visited {color: black}
a:hover, a.active {color:green; text-decoration: none}
.navsep {width: 20px; margin: 0px;}

.current-tab {color: green;
    -webkit-filter: drop-shadow(0px 0px 5px #090);
    filter:drop-shadow(0px 0px 5px #090)
}

.mainnavbar{text-align: left; border:1px solid black; padding:10px; background-color: #f7f7f7}
.shnav{padding-left: 10px; padding-right: 10px;}
.pageTitle, a {font-family: "Lucida Console"}

#resultstable {border-radius: 5px; border: 2px solid black; border-collapse: separate; border-spacing: 0; width: 100%}
tbody, thead {border: 1px solid black; text-align: left}
.header-th-id, th {background-color: white; border-bottom: 2px solid black;}
tr {border-right: 1px solid black}
th {text-align: left;}
.header-th-id, .id-col {text-align: right; width:25px; padding-right: 10px; padding-left: 10px}
tr:nth-child(odd) {background: #eaf6ea}
tr:nth-child(even) {background: white;}
tr:hover{background: rgba(0, 210, 131, 0.53); cursor: pointer}
td {padding-right: 10px}



#page {width: 80%; margin-right: auto; margin-left: auto; display: block; clear: both; text-align: center}
#resultsdiv {width: 100%; margin-right: auto; margin-left: auto}

.forminput {display: inline-block; margin-left: auto; margin-right: auto}
.forminput {
    padding: 2px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;}
.forminput:focus, .forminput:active {border: 1px solid green}
.spacer{width:20px; display: inline-block}
.spacer-sm{width:10px; display: inline-block}

#searchterms{
    width: 20%;
    padding-left: 30px;
    background-image: url("../images/search.png");
    background-size: contain;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
button {
    background-color: #4CAF50;
    border-radius: 5px;
    color: white;
    padding: 2px 8px;
    text-decoration: none;
    margin: 2px 5px;
    cursor: pointer;
    outline:none;
    border: 1px solid black;
    box-shadow:none;
}
button:active {background-color: black;}
button:hover {box-shadow: 0px 0px 5px #7fff21
}
button:active, button:hover, button:focus {outline: none;}

select, input, button {
    font-size: 14px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
    vertical-align: middle;
    height: 23px;
}

input, select{ padding:5px}

select option {
    margin: 40px;
    background: white;
    color: #000;
}
